* {
    box-sizing: border-box;
    
  }



 /*
 Agregar estilo a las barras de desplazamiento en Chrome, Edge y Safari
 https://www.digitalocean.com/community/tutorials/css-scrollbars-es
 */ 

body{
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: rgb(244, 244, 247) rgb(116, 109, 97);   /* scroll thumb and track */
}

  body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

  body::-webkit-scrollbar-track {
    background: rgb(240, 238, 236);        /* color of the tracking area */
}
  
  body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}
  body::-webkit-scrollbar-track {
    background: rgb(240, 238, 236);        /* color of the tracking area */
}
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(199, 199, 199);    /* color of the scroll thumb */
    border-radius: 0px;       /* roundness of the scroll thumb */
    border: 1px solid rgb(199, 199, 199);  /* creates padding around scroll thumb */
}



/*
Arrear estilo a las barras de desplazamiento DEL FORMULARIO
 https://www.digitalocean.com/community/tutorials/css-scrollbars-es
 */ 

.contenedor::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}
.contenedor::-webkit-scrollbar-track {
  background: rgb(240, 238, 236);        /* color of the tracking area */
}

.contenedor::-webkit-scrollbar-thumb {
  background-color: rgb(199, 199, 199);    /* color of the scroll thumb */
  border-radius: 0px;       /* roundness of the scroll thumb */
  border: 1px solid rgb(199, 199, 199);  /* creates padding around scroll thumb */
}




 /*
 estilo para formulario
 */ 
  .contenedor{
   margin-top: 0%;
   max-width: 100%;
   width: 100%;
   height:100%;
   padding: 100px;
   background-color: #ffffff;
   position: absolute;
   overflow: auto;
   border-radius: 1%;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.cerrarFormulario{
  text-decoration: none;
  position: absolute;
  float: left;
  border-radius: 0%;
  top: 2px;
  right: 8px;
  width: 10%;
  height: 10%;
}
.cerrarFormulario:after {
  content: "X";
}

 /*
  
  input[type=number],input[type=date],input[type=submit] {
    width: 50%;
    padding: 1px;
    border: 0.2px solid rgb(8, 5, 5);
    border-radius: 4px;
    resize: vertical;
}
  
  label {
    display: inline-block;
}
*/

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    input[type=submit] {
      width: 100%;
      margin-top: 0;
    }

    input[type=date],input[type=number]{
      width: 80%;
    }

    .contenedor{
        width: 100%;
        height: 82%;
        padding:30px;
    }  
    .cerrarFormulario{
    
      height: 5%;
    } 
  }